<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Axiom</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Orbitron&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../public/home_page.css" type="text/css">
    <meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
    <link rel="icon" type="image/x-icon" href="../assets/BCS LOGO.png">
</head>
<body>

<!-- terminator ki image aur eyes ko theek kariyo
navbar dhanka
code daaliyo lorem ki jagah
loop kar dhang se
responsive -->

<section id="home_page">
        <header>
            <nav>
                <div id="logo">
                    <img src="../public/assets/BCS LOGO.png" alt="bcs">
                    <span id="bcs">BACKSLASH</span>
                </div>
                <ul id="nav-list">
                    <li id="home">Home</li>
                    <li id="cryptic">Cryptic</li>
                    <li id="register">Add-Members</li>
                    <li id="logout">Logout</li>
                </ul> 
            </nav>
        </header>
        <div id="d1" class="hidden">
            <img id="anchor" src="../public/assets/tm-ai-brush-removebg-z1zacs1.png" alt="">
            <div id="eyes1" class="eye">
                <div></div>
            </div>
            <div id="eyes2" class="eye">
                <div></div>
                <!-- <img src="./eyes.png" alt="eyes"> -->
            </div>
        </div>

        <h1 id="Greetings"> Hello </h1>

        <div id="code-bg">
            <div id="code">
                <span id="code-text">
                    ipsum dolor sit amet consectetur adipisicing elit. Eos minus vitae exercitationem placeat saepe culpa rerum cupiditate. Cum dolore libero voluptates tenetur, quam in. Non nisi molestias dolore incidunt dolor?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat corrupti saepe expedita odit consectetur magnam, cum earum id ab nesciunt quidem error cupiditate suscipit reprehenderit veritatis accusantium dignissimos ullam hic.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis minus inventore, delectus facilis earum iste quaerat enim, illo numquam ratione optio eligendi, libero voluptatem praesentium voluptas veniam! Obcaecati, pariatur atque.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi doloribus omnis magni ullam blanditiis sint. Saepe quam est adipisci sed fugiat, repellat minima perferendis quidem beatae omnis, id, consectetur deleniti!                    
                </span>
                <!-- <span id="code-text-2">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore placeat illo repudiandae porro, earum repellendus, praesentium expedita quaerat odio vel quis fuga optio culpa consequuntur atque nobis! Saepe, vitae quam?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore vel repellat! Beatae ut libero ducimus deserunt fugit, officia repudiandae iste nihil. Sequi ducimus excepturi distinctio mollitia iste qui repudiandae.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro unde doloribus aspernatur, aliquid laborum deserunt. Repudiandae ipsa quisquam cum iste et consequatur corporis, odio atque asperiores reiciendis, qui optio sed?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod iusto fuga amet nulla nihil doloremque eius id quos, aspernatur quibusdam rerum provident laboriosam reiciendis perferendis temporibus a vero ipsa quaerat.
                </span> -->
            </div>
        </div>
<!-- 
        <div id="code-bg-2">
            <div id="code">
                <span id="code-text">
                    ipsum dolor sit amet consectetur adipisicing elit. Eos minus vitae exercitationem placeat saepe culpa rerum cupiditate. Cum dolore libero voluptates tenetur, quam in. Non nisi molestias dolore incidunt dolor?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat corrupti saepe expedita odit consectetur magnam, cum earum id ab nesciunt quidem error cupiditate suscipit reprehenderit veritatis accusantium dignissimos ullam hic.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis minus inventore, delectus facilis earum iste quaerat enim, illo numquam ratione optio eligendi, libero voluptatem praesentium voluptas veniam! Obcaecati, pariatur atque.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi doloribus omnis magni ullam blanditiis sint. Saepe quam est adipisci sed fugiat, repellat minima perferendis quidem beatae omnis, id, consectetur deleniti!                    
                </span>
                <span id="code-text-2">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore placeat illo repudiandae porro, earum repellendus, praesentium expedita quaerat odio vel quis fuga optio culpa consequuntur atque nobis! Saepe, vitae quam?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore vel repellat! Beatae ut libero ducimus deserunt fugit, officia repudiandae iste nihil. Sequi ducimus excepturi distinctio mollitia iste qui repudiandae.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro unde doloribus aspernatur, aliquid laborum deserunt. Repudiandae ipsa quisquam cum iste et consequatur corporis, odio atque asperiores reiciendis, qui optio sed?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod iusto fuga amet nulla nihil doloremque eius id quos, aspernatur quibusdam rerum provident laboriosam reiciendis perferendis temporibus a vero ipsa quaerat.
                </span>
            </div>
        </div> -->
    </section>
    <script src="../scripts/home_leader.js"></script>
    <script defer>
        
        document.getElementById("Greetings").textContent = `Hello ${name}`;
    </script>
</body>
</html>