<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta X-Content-Type-Options="nosniff">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    
    <title>Team</title>
    <link rel="stylesheet" href="../nav-bar.css" type="text/css">
    <link rel="stylesheet" href="../members.css" type="text/css" type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' type="text/css">
    <meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
    <link rel="icon" type="image/x-icon" href="../assets/BCS LOGO.png">

</head>

<body>
    <div class="nav-bar">
        <nav>
            <div class="nav-mobile">
                <a href="#" id="nav-toggle">
                    <span></span>
                </a>
            </div>
            <ul class="nav-list">
                <li><a href="/">Home</a></li>
                <li><a href="/crypt">Play</a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <li><a href="/members">Team</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/">Login</a></li>
            </ul>
        </nav>
    </div>
        <div class="page">
            <div class="card-hs">
                <h2 class="title">Our<span class="red"> Mentors</span></h2><br>
                <div class="cards" id="Cardsheads">
                </div>
            </div>
            <div class="card-gs">
                <h2 class="title">The<span class="red"> Team</span></h2><br>
                <div class="cards" id="Cardsgs">
                </div>
            </div><link href="https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic" rel="stylesheet" />
        </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="../scripts/navbar.js"></script>
    <script src="https://kit.fontawesome.com/f002491924.js" crossorigin="anonymous"></script>
    <script src="../scripts/card.js"></script>
</body>

</html>
