<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Backslash Computing Society is a student-run society at Thapar Institute of Engineering and Technology. We are a group of passionate individuals who are always ready to learn and share their knowledge with others.">
    <meta name="keywords" content="contact, backslash, thapar, TIET, Thapar Institute of Engineering and Technology, Backslash-Computing-Society, Backslash Computing Society, Thapar University, Cryptic Hunt, backslash society, backslash tiet, contact">
    <link rel="stylesheet" type="text/css" href="../sign_up.css" type="text/css">
    <meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
    <link rel="icon" type="image/x-icon" href="../assets/BCS LOGO.png">
    <title>Sign Up</title>
  </head>
  <body>
  
    <div class="containerBox">
    <form action="/signup" method="post" class="signup-form">
      <span class="title">Sign Up</span>
      <input type="text" name="username" placeholder="Leader Username" id="username"  />
      <input type="email" name="mail" placeholder="Mail" id="mail" />
      <input type="text" name="teamName" placeholder="Team Name" id="teamName"/>
      <input type="password" name="password" placeholder="Team Password" id="password" />
      <input type="submit" value="Sign Up" class="submit-button" />
   

    <div class="separator">or</div>

    <span class="last">Already have an account? <a href="./login"><span class="login-link">Login</span></a></span>
  </form>
</div>
    <script type="text/javascript" src="../scripts/sign_up.js" defer></script>
  <div id="err" class="error-message"></div>
  </body>
</html>
